(
  open_help: Some(( code: Char('?'), modifiers: "SHIFT")),
    move_left: Some(( code: Char('h'), modifiers: "")),
    move_right: Some(( code: Char('l'), modifiers: "")),
    move_up: Some(( code: Char('k'), modifiers: "")),
    move_down: Some(( code: Char('j'), modifiers: "")),  
  home: Some(( code: Char('g'), modifiers: "")),
    end: Some(( code: Char('G'), modifiers: "SHIFT")),
  stage_unstage_item: Some(( code: Char(' '), modifiers: ""))

)
